name: Deployment
on:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/workflows/*"
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Get the project code
        uses: actions/checkout@v4
      - name: Make env file with secrets
        uses: SpicyPizza/create-envfile@v2.0
        with:
          directory: "config/"
          fail_on_empty: true
          envkey_NODE_ENV: prod
          envkey_TOKEN: ${{secrets.TOKEN}}
          envkey_POLING_DELAY: ${{secrets.POLING_DELAY}}
          envkey_MONGO_DB_URL: ${{secrets.MONGO_DB_URL}}
          envkey_MONGO_DB_NAME: ${{secrets.MONGO_DB_NAME}}
          envkey_MONGO_DB_USER: ${{secrets.MONGO_DB_USER}}
          envkey_MONGO_DB_PASSWORD: ${{secrets.MONGO_DB_PASSWORD}}
          envkey_API_URL: ${{secrets.API_URL}}
          envkey_API_WEBSOCKET_URL: ${{secrets.API_WEBSOCKET_URL}}
          envkey_API_CLIENT_NAME: ${{secrets.API_CLIENT_NAME}}
          envkey_API_CLIENT_PASSWORD: ${{secrets.API_CLIENT_PASSWORD}}
      - name: Init the project
        run: npm install
      - name: Build the project
        run: npm run build
      - name: Run tests
        run: echo 'There will be tests'
      - name: Remote | Stop project
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd ${{secrets.REMOTE_TARGET}} &&
            pm2 stop domBot > /dev/null 2>&1 || true &&
            sleep 2 &&
            pm2 delete domBot > /dev/null 2>&1 || true &&
            sleep 1
          host: ${{secrets.REMOTE_HOST}}
          user: ${{secrets.REMOTE_USER}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
      - name: Deploy to server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          ARGS: "-avzr --delete"
          REMOTE_HOST: ${{secrets.REMOTE_HOST}}
          REMOTE_USER: ${{secrets.REMOTE_USER}}
          TARGET: ${{secrets.REMOTE_TARGET}}
          EXCLUDE: "/.github/, /.git/, /.gitignore, /src/, /node_modules/"
      - name: Remote | Init and start the project
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd ${{secrets.REMOTE_TARGET}} &&
            npm install &&
            mkdir -p logs &&
            sleep 1 &&
            pm2 start ecosystem.config.cjs &&
            sleep 5 &&
            pm2 status &&
            pm2 logs domBot --lines 20 --nostream 
          host: ${{secrets.REMOTE_HOST}}
          user: ${{secrets.REMOTE_USER}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
